@font-face {
    src: url('font/B_Mitra.ttf');
    font-family: Mitra;
}

body {
    font-family: 'Mitra';
}

.main {
    background-image: url('img/back1.jpg');
    min-height: 853px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 0px;
}

.box {
    background-color: white;
    padding: 4%;
    border-radius: 20%;

}

.btn {
    margin: 10px 0;
    background-color: #122b40;
    color: white;
}

