@font-face {
    src: url('font/B_Mitra.ttf');
    font-family: Mitra;
}

body {
    font-family: 'Mitra';
    direction: rtl;
    background-color: #c8cacb;
}

.back {
    padding: 30px;
    background-color: #122b40;
    text-align: center;
    font-size: 15px;
    margin-top: 20rem;
}

span1 {
    border: 1px solid;
    border-radius: 50%;
    color: #fff;
    width: 60px;
    height: 60px;
    text-align: center;
    padding-top: 15px;
    margin: 5px;
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
}

span1:hover {
    background: rgba(10, 10, 10, 0.1);
    border-color: rgba(10, 10, 10, 0.1);
}
.container {
    padding-top: 0px;
}

.w3-sidebar {
    /* width: 200px; */
    right: 0;
    z-index: 4;
    font-family: 'Mitra';
}

.w3-sidebar img {
    padding-top: 10px;
    padding-bottom: 10px;
}

.w3-bar {
    padding: 0px 10%;
}

a:hover, a:after, a:visited, a:link {
    text-decoration: none;
    color: white;
}
